<div class="container px2 py2">
    <h1 class="mt0">
        Projects
    </h1>
    <div class="clearfix mxn2">
        <div class="col col-4 px2 mb3">
            <div class="clearfix">
                <div class="col col-11">
                    <div class="h3">
                        Title
                    </div>
                </div>
                <div class="col col-1 center">
                    <i class="fa fa-github fa-lg mt1"></i>
                </div>
            </div>
            <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" class="block">
        </div>
        <div class="col col-4 px2 mb3">
            <div class="clearfix">
                <div class="col col-11">
                    <div class="h3">
                        Title
                    </div>
                </div>
                <div class="col col-1 center">
                    <i class="fa fa-github fa-lg mt1"></i>
                </div>
            </div>
            <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" class="block">
        </div>
        <div class="col col-4 px2 mb3">
            <div class="clearfix">
                <div class="col col-11">
                    <div class="h3">
                        Title
                    </div>
                </div>
                <div class="col col-1 center">
                    <i class="fa fa-github fa-lg mt1"></i>
                </div>
            </div>
            <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" class="block">
        </div>
    </div>
</div>

