<div class="container px2 py2">
    <h1 class="mt0 border-bottom">
        Projects:
    </h1>
    <div class="clearfix mxn2">
        <div class="col col-4 px2 mb3">
            <div class="clearfix">
                <div class="col col-11 border-bottom">
                    <div class="h3 black">
                        <a href="#" class="black">Cohearence</a>
                    </div>
                  </div>
                <div class="col col-1 center">
                    <a target="_blank" href="https://github.com/dwschrashun/cohearence"><i class="fa fa-github fa-lg mt1 black"></i></a>
                </div>
            </div>
            <a href="http://cohearence.io"><img src="img/cohearence2.png" class="block"></a>
        </div>
        <div class="col col-4 px2 mb3">
            <div class="clearfix">
                <div class="col col-11">
                    <div class="h3 black">
                        <a href="#" class="black">exAudio</a>
                    </div>
                </div>
                <div class="col col-1 center">
                    <a href="https://github.com/ryankdwyer/exAudio"><i class="fa fa-github fa-lg mt1 black"></i></a>
                </div>
            </div>
            <a href="#"><img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" class="block"></a>
        </div>
        <div class="col col-4 px2 mb3">
            <div class="clearfix">
                <div class="col col-11">
                    <div class="h3 black">
                        <a href="#" class="black">Remote-Code</a>
                    </div>
                </div>
                <div class="col col-1 center">
                    <a target="_blank" href="https://github.com/ryankdwyer/remoteCode"><i class="fa fa-github fa-lg mt1 black"></i></a>
                </div>
            </div>
            <a target="_blank" href="http://remote-code.herokuapp.com"><img src="img/remoteCode.png" class="block"></a>
        </div>
    </div>
</div>

