<div class="container px2 py2">
    <h1 class="mt0 border-bottom regular">
        Projects:
    </h1>
    <div class="clearfix mxn2">
        <div class="col col-4 px2 mb3">
            <div class="clearfix">
                <div class="col col-11 border-bottom">
                    <div class="h3 black">
                        <a href="#" class="black">Cohearence</a>
                    </div>
                  </div>
                <div class="col col-1 center">
                    <a target="_blank" href="https://github.com/dwschrashun/cohearence"><i class="fa fa-github fa-lg mt1 black"></i></a>
                </div>
            </div>
            <a target="_blank" href="http://cohearence.io"><img src="img/cohearence2.png" class="block"></a>
        </div>
        <div class="col col-4 px2 mb3">
            <div class="clearfix">
                <div class="col col-11">
                    <div class="h3 black">
                        <a href="#" class="black">exAudio</a>
                    </div>
                </div>
                <div class="col col-1 center">
                    <a href="https://github.com/ryankdwyer/exAudio"><i class="fa fa-github fa-lg mt1 black"></i></a>
                </div>
            </div>
            <img target="_blank" src="img/exaudio.png" class="block">
        </div>
        <div class="col col-4 px2 mb3">
            <div class="clearfix">
                <div class="col col-11">
                    <div class="h3 black">
                        <a href="#" class="black">Remote-Code</a>
                    </div>
                </div>
                <div class="col col-1 center">
                    <a target="_blank" href="https://github.com/ryankdwyer/remoteCode"><i class="fa fa-github fa-lg mt1 black"></i></a>
                </div>
            </div>
            <a target="_blank" href="http://remote-code.herokuapp.com"><img src="img/remoteCode.png" class="block"></a>
        </div>
    </div>
    <div class="clearfix mxn2">
        <div class="col col-4 px2 mb3">
            <p>
                Cohearence is a web app coupled with a Chrome Extension. The Chrome Extension seamlessly tracks your music listening from several supported sites.
                Then, via the Chrome Extension or web app, you can playback any song you have previously listened to without having to go back to that site.
                <br>
                <br>
                Check out a quick demo of it <a href="https://www.youtube.com/watch?v=Wa53_x8hVVU&feature=youtu.be">here</a>.
            </p>
        </div>
        <div class="col col-4 px2 mb3">
            <p>
                exAudio is built on electronJS as a stand alone application. It allows you to playback all common audio codecs and several lossless audio codecs, including FLAC.
                This is especially useful if you don't want iTunes to convert your lossless files.

                <br>
                <br>

                Download it <a href="https://sourceforge.net/projects/exaudioapp/">here</a>.
            </p>
        </div>
        <div class="col col-4 px2 mb3">
            <p>
                Remote-Code allows two people to code on a shared editor while video chatting. You can download and upload files to share as well.
                Remote-Code also provides a REPL console for quick testing.
                <br>
                <br>
                Give it a try <a href="http://remote-code.herokuapp.com/">here</a>.
            </p>
        </div>
    </div>
</div>

