<div class="container px2 py2">
    <h1 class="mt0 border-bottom">
        About me:
    </h1>
    <div class="clearfix mxn mt2">
        I am a fullstack software engineer with deep knowledge of JavaScript, AngularJS, Node.js, and MongoDB.
        <br>
        <br>
        I began my career in food retail after graduating from The College of William & Mary. After four years, I found myself looking to build and create things.
        I then began to teach myself to program in Python, mostly to aid in automating tasks at work. This ultimately led me to Fullstack Academy, where I was trained in fullstack JavaScript.
        <br>
        <br>
        You can check out some of my recent projects <a ui-sref="work">here</a>.
    </div>
</div>