<div class="container px2 py2">
    <h1 class="mt0 border-bottom  regular">
        About me:
    </h1>
    <div class="clearfix mxn mt2">
        I am a fullstack software engineer with deep knowledge of JavaScript, AngularJS, Node.js, and MongoDB.
        <br>
        <br>
        I began my career in food retail as a cateogry manager after graduating from The College of William & Mary. With my data intensive role, I was constantly looking to automate or streamline my work flow.
        This need led me to learn Python. Soon, I was spending most of my time at work writing Python. Looking for a way to change careers, I found Fullstack Academy, where I was trained in fullstack JavaScript for modern web development.

        <br>
        <br>
        You can check out some of my recent projects <a ui-sref="work">here</a>.
    </div>
</div>