<div class="container px2 py2">
    <h1 class="mt0 border-bottom">
        Contact Info:
    </h1>
    <p>The best way to reach me is via email. Click the envelope below to open up a Gmail message.</p>
    <p>LinkedIn and Github links are provided as well. </p>
    <div class="clearfix mxn2 mt2">
        <div class="sm-col sm-col-12 md-col-12 lg-col-4 px4 center">
            <a  target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=ryankdwyer@gmail.com">
                <div class="px4 py4">
                    <i class="fa fa-envelope-o fa-5x black"></i>
                </div>
            </a>
        </div>
        <div class="sm-col sm-col-12 md-col-12 lg-col-4 px4 center">
            <a target="_blank" href="https://linkedin.com/in/ryankdwyer">
                <div class="px4 py4">
                    <i class="fa fa-linkedin fa-5x black"></i>
                </div>
            </a>
        </div>
        <div class="sm-col sm-col-12 md-col-12 lg-col-4 px4 center">
            <a  target="_blank" href="https://github.com/ryankdwyer">
                <div class="px4 py4">
                    <i class="fa fa-github fa-5x black"></i>
                </div>
            </a>
        </div>
    </div>
</div>